@font-face {
    font-family: 'WorkSans';
    src: url('./assets/fonts/WorkSans-VariableFont_wght.ttf');
    font-weight: 400 600 700;
    font-style: normal;
}

@font-face {
    font-family: 'WorkSans';
    src: url('./assets/fonts/WorkSans-Italic-VariableFont_wght.ttf');
    font-weight: 400 600 700;
    font-style: italic;
}

:root {
    --color-white: hsl(0, 100%, 100%);
    --color-purple: #a728df;
    --color-purple-100: hsl(275, 100%, 97%);
    --color-purple-600: hsl(292, 16%, 49%);
    --color-purple-950: hsl(292, 42%, 14%);
}

body {
    font-family: 'WorkSans', sans-serif;

    background-image: url('./assets/images/background-pattern-mobile.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: var(--color-purple-100);


    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: var(--color-white);
    margin: 1.5rem;
    padding: 1.5rem;
    border-radius: 12px;
    max-width: 500px;
}

.card__header {
    display: flex;
    justify-content: start;
    gap: 1rem;
    margin-bottom: 1rem;
    font-weight: 700;
    color: var(--color-purple-950);
}

.icon-star {
    width: 24px;
}

.card__body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.accordion {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: 1px solid var(--color-purple-100);
}

.accordion:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.accordion__header {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-purple-950);
    display: flex;
    justify-content: space-between;
}

.accordion__icon {
    width: 2rem;
    height: 2rem;
}

.accordion__title {
    max-width: 80%;
}

.accordion__header {
    cursor: pointer;
}

.accordion__header:hover .accordion__title {
    color: var(--color-purple);
}

.accordion__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-4px);
    padding-bottom: 0;
    transition:
        max-height 0.3s ease,
        opacity 0.3s ease,
        transform 0.3s ease,
        padding-bottom 0.3s ease;
}

.accordion__content.active {
    max-height: 500px;
    opacity: 1;
    transform: translateY(0);
    padding-bottom: 1rem;
}

@media (min-width: 768px) {
    body {
        background-image: url('./assets/images/background-pattern-desktop.svg');
    }
}